//Nib & gradient support
@import 'nib/vendor'
@import 'nib/gradients'
vendor-prefixes = o ms webkit moz official

//Variables y funciones
@import "modules/variables"
@import "modules/funciones"

//Layout
@import "modules/base"
@import "modules/header"
@import "modules/section"
@import "modules/footer"
//Modules
@import "modules/utilities"
// @import "modules/animations"
// @import "modules/media-queries"
// @import "modules/keyframes"
