div(class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	div.modal-dialog.modal-lg
		div.modal-content
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			div.modal-body
				img.img-responsive(src="images/promo.jpg", alt="En septiembre podremos llenar el mundo de amor & amistad", title="En septiembre podremos llenar el mundo de amor & amistad")
