//Footer
footer.container-fluid
	div.row
		article.col-lg-12
			p.text-center: a(href="") Términos y condiciones 
			p.text-center NESTLÉ&reg; Colombia 2015 - Todos los derechos reservados

///-Footer

//Scripts
script(src='js/libs/jquery.js')
script(src='js/libs/bootstrap.min.js')
script(src='js/dispensador.js')