//Header

header.container-fluid.u-no-border
	div.row
		//Copies y Dummies
		article.col-lg-4.col-md-4.col-sm-4.col-xs-12

			img.img-responsive(src="images/copy-header.png", width="545", alt="Participa y podrás ganar esta deliciosa ancheta de chocolates", title="Participa y podrás ganar esta deliciosa ancheta de chocolates")

			img.img-responsive(src="images/dummies-header.png", alt="Beso de Negra, deditos y Morenitas de NESTLÉ", title="Beso de Negra, deditos y Morenitas de NESTLÉ")

		
		//Buzon
		article.col-lg-8.col-md-8.col-sm-8.col-xs-12

			img.img-responsive(src="images/buzon-base.png", width="700")

	div.logo
		a(href="index.php#done"): img.img-responsive.center-block(src="images/logo-dispensador.png", alt="Dispensador de amor y amistad", title="Dispensador de amor y amistad", width="300")


///-Header