extends partials/base.jade

block title
	title Dispensador de Amor &amp; Amistad

block description
	meta(name="description" content="Dispensador de Amor & Amistad NESTLÉ" )

block content

	section.container-fluid

		div.row
			article.col-lg-10.col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1

				h1.escogiste.escogiste-amor Amor

				form#postear(method="")
					textarea(placeholder="Escribe un mensaje").form-control

					div.postear
						p Compartir en: 
							button.fa.fa-facebook(href="", data-share="fb")
							button.fa.fa-twitter(href="", data-share="tw")


				p.text-center Estos son los mensajes de AMOR que nos han compartido.



		div.row
			article.col-lg-6.col-md-6.col-md-6.col-sm-6.col-xs-12.box.box-amor
				div.single
					div.img-tweet
						img.img-tweet.img-responsive(src="", alt="")

					div.img-producto
						img.img-responsive(src="images/deditos.png", width="80")
					
					h3 #YoCompartoAmor


					p.tweet.
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
						incididunt ut labore et dolore ad minim veniam, consequat”

					div.barra-nombre

						img.perfil.img-circle.img-responsive(src="images/pic-sample.jpg", width="50")

						p.nombre-perfil Hola que hace


			article.col-lg-6.col-md-6.col-md-6.col-sm-6.col-xs-12.box.box-amor
				div.single
					div.img-tweet
						img.img-tweet.img-responsive(src="", alt="")

					div.img-producto
						img.img-responsive(src="images/deditos.png", width="80")
					
					h3 #YoCompartoAmor


					p.tweet.
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
						incididunt ut labore et dolore ad minim veniam, consequat”

					div.barra-nombre

						img.perfil.img-circle.img-responsive(src="images/pic-sample.jpg", width="50")

						p.nombre-perfil Hola que hace




