
	<!--Tweets Amor-->
	<div class="amor">
	      <section class="container-fluid franja">
	        <h1 class="center-block text-center">#CompartoAmor</h1>
	        <div class="avatar"></div>
	      </section>
	      <section class="container-fluid">
	        <div class="row">
	          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mensaje">
	            <div class="user">
	              <div class="content-perfil img-circle"><img src="https://pbs.twimg.com/profile_images/2611081838/t9n2gitufgi8bf9yhg6i.jpeg" width="215" class="perfil img-responsive"></div>
	              <h2>@BRM</h2>
	            </div>
	            <p class="tweet">
	              #CompartoAmor @lalis_5 muchas gracias por esta amistad, por acompañarme en tantos momentos. Vamos a estar juntas toda la vida.
	              Te quiero
	              
	              
	            </p>
	          </article>
	        </div>
	      </section>
	    </div>
	<!--/-Tweets Amor-->
	<!--Tweets Amistad-->
	<div class="amistad">
	  <section class="container-fluid franja">
	    <h1 class="center-block text-center">#CompartoAmistad</h1>
	    <div class="avatar"></div>
	  </section>
	  <section class="container-fluid">
	    <div class="row">
	      <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mensaje">
	        <div class="user">
	          <div class="content-perfil img-circle"><img src="https://pbs.twimg.com/profile_images/2611081838/t9n2gitufgi8bf9yhg6i.jpeg" width="215" class="perfil img-responsive"></div>
	          <h2>@BRM</h2>
	        </div>
	        <p class="tweet">
	          #CompartoAmistad @lalis_5 muchas gracias por esta amistad, por acompañarme en tantos momentos. Vamos a estar juntas toda la vida.
	          Te quiero
	        </p>
	      </article>
	    </div>
	  </section>
	</div>
	