a
	color Azul
	
body
	path("bg-triangulos.jpg")
	background-position top center
	background-repeat repeat
	color GrisBase
	font-family Droid
	font-size 1.3em
	text-rendering optimizeLegibility
	
//Base TV
	&.tv
		background-image url("../images/tv/corazones.png"),url("../images/tv/bg.jpg")
		background-position top center, top center
		background-size 100%, 100%
		background-repeat repeat
		height 100%
		color GrisBase
		font-family Droid
		font-size 1.3em
		text-rendering optimizeLegibility
		width @height
		

		.row
			max-width 124em

	

.container-fluid
	position relative
//Anchos máximos
.row
	margin 0 auto
	max-width 85.3em
	
	



.container-fluid
	position relative