a
	color Azul
	
body
	path("bg-triangulos.jpg")
	background-position top center
	background-repeat repeat
	color GrisBase
	font-family Droid
	font-size 1.3em
	text-rendering optimizeLegibility
	

//Anchos máximos
.row
	margin 0 auto
	max-width 85.3em
	


	