header
	path("bg.jpg")
	background-position top center
	background-repeat repeat
	background-size 100%
	padding-top 3em !important
	margin-bottom 10em !important
	
	
	.acordeon
		box-shadow 0px 0px 5px 5px rgba(0, 0, 0, .25)
		margin-bottom 1em
		margin-top -3em
		display none
		

		.close
			absolute top 0.5em right 0.5em
			background-color Rojo
			border-radius 100%
			float none
			font-size 1.3em
			height 1.5em
			opacity 0.99
			width @height
			z-index 10
			

	.logo
		background-color Azul
		max-height 3em
		
		img
			position relative
			top -3em


