header
	path("bg.jpg")
	background-position top center
	background-repeat no-repeat
	background-size 100%
	padding-top 3em !important
	margin-bottom 10em !important
	
	

	.logo
		background-color Azul
		max-height 3em
		
		img
			position relative
			top -3em


