/* Large desktops and laptops */
@media (max-width: 1300px)
	.article-head
		min-height 36.1em


@media (max-width: 1200px)
	#carrusel-marcas .item a
		margin 0 0.7em
		
	.article-head
		min-height 21.9em
		
	.btn-nav
		top -15em
		
	.helpers-registro
		font-size 0.9em
		


	.seccion-nestle
		.img-seccion
			background-size 200%
			
	.wrapper-vermas
		.share
			font-size 1em
/* Portrait tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1000px)
@media (max-width: 992px)
	
	#carrusel-marcas
		.carousel-inner
			height 5.8em
			width 78%
			
			.img-responsive
				max-width 90%


	#listado-ingredientes
		span
			font-size 1.2em		


	#filtro-recetas
		
		.selects
			height 3.6em
			.form-group
				.form-control
					height 2em
					font-size 0.8em
					
			.ico
				font-size 2em
	
	.affix
		.navbar-right
			display none !important			
	.article-head
		min-height 28.3em
		
	.box-compartir-receta
		width 100%

	.btn-login
		display  block
	
	.btn-nav
		top -13em
		
	.module-box
		h3
			font-size 1.3em
		
	.nestip-texto
		#contenedor-nestip
			font-size 0.9em
			max-height 4.4em
			padding 0.1em 0
			

	.filtros
		.col-lg-3
			border-right 1px solid GrisOscuro
			
		.momentos
			border-right none

	.seccion-nestle
		.btn.btn-fab
			margin-top 0.2em
			
		.receta-random
			.logo-recetario
				relative bottom 0
				margin 0 auto
			
		.img-seccion
			background-size 240%
		
	
	.readmore
		padding 0.5em 1em
		
	.titular
		&-bienestar
			background-color Naranja
			
		&-nutricion
			background-color Verde
			
		&-receta
			background-color VerdeOscuro
		
	.widget
		display none
		
	.wrapper-vermas
		.tiempo
			text-align center
			margin 0.7em auto

@media (max-width: 768px)
	#carrusel-marcas
		.item
			a
				display block
				height 6.5em
				margin 0 auto
				width @height
				
	#carrusel-recetario
		.title
			padding-left 1em
			text-align left
			width 100%
			
			
	#filtro-recetas
		.selects
			font-size 1.1em
			height auto
			max-height initial
			text-align center
			
			.col-lg-3
				border-bottom 1px solid #fff
				border-right none
				
				&:last-child
					border-left none
					border-bottom none
					// border-top 1px solid #fff
						
			.form-group
				width 90%
				.form-control
					height auto
					font-size 1em
	
	#listado-ingredientes
		text-align center
		span
			font-size 1.5em

	#search-input
		display none
		
	
	.affix
		.navbar-right
			display block !important
	
	.article-head
		min-height 26em
		
		.btn.btn-fab
			font-size 2em
			
		.calorias
			font-size 1.4em
			margin-top -1em
			text-align right
		
		.u-text-right
			text-align center
			

	.article-body
		padding 2em
		
	.btn-nav
		top -11em

	.filtros
		.btn-momento
			display inline-block
			
		.col-lg-3
			border-right none
			border-bottom 1px solid GrisOscuro
			padding-bottom 0.5em
			
		.col-lg-9
			padding-bottom 0.7em
			padding @padding-bottom

	.img-wrapper
		.img-article
			width 100%
	
	.logo-cdb
		display none
		
	.menu-logo
		margin 0 auto
		width 6.8em
		img
			margin 0 auto
			width 12.6em
		

	.module-box
		&:hover		
			.readmore
				// background-color darken(AzulBase, 40%)
				transform scale(1)
				
			.share
				opacity 0.99
		
		h3
			height auto !important		
		p
			height auto !important
			
		.title
			padding-left 1em 
			h2
				text-align left
				
			
	.navbar-toggle
		float left
	
	.navbar-nav
		a
			text-align center
			
		li
			border-bottom 1px solid rgba(0,0,0,.1);
			border-top 1px solid transparent
			// border-top 1px solid darken(AzulBase, 40%)
			
		.social-link
			display inline-block
	
	.navbar-right
		text-align center
				
	.nestip-texto
		.contenedor-nestip
			font-size 1em
			max-height inherit !important
	.pais
		text-align center
		
			
	.seccion-nestle
		.img-seccion
			background-position 60% 12%
			background-size 260%
			
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th
		white-space normal
				
	.wrapper-vermas
		margin-bottom 1em
		.article-action
			margin 0.5em auto	
			text-align center
			

		.btn
			font-size 1.3em
			margin-left 0
			

		&:hover		
			.readmore
				// background-color darken(AzulBase, 40%)
				transform scale(1)
				
			.share
				opacity 0.99
				transform translateX(0)
		.share
			opacity 0.99
			transform translateX(0)
			
		.tiempo
			font-size 1.1em
			


/* Portrait tablets and small desktops */
// @media (min-width: 767px) and (max-width: 991px)
@media (max-width: 750px)
	// .affix
	// 	.navbar-right
	// 		display block !important
	
/* Landscape phones and portrait tablets */
@media (max-width: 640px)
	
	.article-head
		min-height 16.8em
		.img-article
			margin-top 
	.article-receta
		min-height 24em
		
	.menu-logo
		img
			margin-left 0em !important
		
	.seccion-nestle
		.img-seccion
			background-position 60% 10%
			background-size 390%
			

/* Landscape phones and smaller */
@media (max-width: 480px)

	#carrusel-recetario
		.title
			margin-bottom 0em
			padding 0.5em 1em
			position initial
			

	.article-head
		min-height 28em
		
		h1
			font-size 2em
		
		.img-article
			margin-top 0
			// position initial
			
	.btn-nav
		top -10em
	
	.menu-logo
		margin 0 auto
		overflow hidden
		width 8em

	// 	img
	// 		width 100%
	.row
		h2
			font-size 1.5em
	.receta-random
		.nombre-receta
			display none
			
	.seccion-nestle
		min-height 15em
		h1
			margin 0.2em auto
		.btn.btn-fab
			font-size 4em
			
		.img-seccion
			background-size 430%
			

		
// @media (max-width: 320px)
	